*{
    margin: 0;
    padding: 0; 

}
body{  font-family: "Poppins", sans-serif; 
box-sizing: border-box;}

#bg_img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0.15;
    z-index: 1000;
}

html{
  scroll-behavior:smooth;
  scrollbar-width: thin;
}
.navbar,
.hero{
    position: relative;
    z-index: 4;
}

.hero{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90vh;
    overflow: hidden;
}

.hero-bg{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: 1;
}
 .nav-buttons{
        display:flex;
        gap:10px;
        justify-content: space-between;
    }

.hero-overlay{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: #315DEC;
    opacity: 0.75;

    z-index: 2;
}
.hero_content,
#hero_image{
    position: relative;
    z-index: 3;
}

header
{
    position: relative;
    overflow: hidden;
    background-color: #3251b8;
    opacity: 0.;
    border-bottom-left-radius: 100% 30%;
    border-bottom-right-radius: 100% 30%;
}

.navbar
{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-links
{
    display: flex;
    gap: 45px;
    flex-wrap:wrap ;
    justify-content: center;
    align-items: center;
      cursor: pointer;
}

.nav-links li:hover
{
    color: wheat;
}
.nav-links li
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    font-size: 18px;
    font-weight: 100;
    color: white;
  
}

.image
{
    background-color: rgb(85, 141, 85);
    padding: 5px;
    border-radius: 100%;
}

.image img
{
    padding: 5px;
}

#login, #signup
{
    width: 100px;
    padding: 8px;
    border-radius: 20px;
    border: none;
    outline: none;
}

#signup
{
    color: white;
    background-color: #5976d5;
 
}


.hero {
    display: flex;
    color: white;
    padding: 80px 100px 0px;
    overflow: hidden;
    margin-top: 15px;
    flex-shrink: 0;
    justify-content: space-evenly;
}

.hero_content
{
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}

.hero_content h1
{   width: 600px;
    font-size: 28px;
}

.hero_content h3
{   width: 400px;
    font-size: 16px;
    font-weight: 200;
}

#hero-btn
{
    display: flex;
    gap: 30px;
    text-align: center;
}


#join
{
    padding: 12px 12px;
    border-radius: 20px;
    border: none;
    background-color: #5976d5;
    color: white;
}

#play_img 
{
    border: 30px;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    position: relative;
    left: 2px;
}
#hero-btn h6
 { 
    align-self: center;
    font-weight: 200;
    font-size: 16px;
}

#hero_img
{   
       max-width:100%;
       height: auto;
position: relative;
   top: -85px;
   left: -250px;
    width: 700px;
    flex-shrink: 0;
    z-index: 1;
}





/* Traing sectioon */

.second
{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    text-align: center;
    margin-top: 80px; ;
}

.second h2,.features_heading{
    font-size: 28px;
    margin: 20px;
    text-align: center;
}

.second p,.features_text
{
color: gray;
width: 570px;
font-size: 18px;
margin: 20px auto;
}


.cards 
{
    display: flex;
    gap: 40px;
    margin: 70px 150px;
    flex-wrap: wrap;

    text-align: center;
    justify-content: center;
}

.card
{
    display: flex;
    flex-direction: column;
    width: 280px;
    align-items: center;
    box-shadow: 0px 0px 20px 0.1px;
    border-radius: 20px;
    height: 270px;
    justify-content: space-around;
    margin-bottom: 20px;
    padding-bottom: 20px;

}

.card:hover
{
    transform: translatey(5px);
}
.icon img
{
    width: 60px;
    position: relative;
    top: -50px;
}


.card-heading1
{
    margin-top: -60px;
    color: green;
}
.card-heading2
{
    margin-top: -60px;
    color: #2F327D;
}
.card-heading3
{
    margin-top: -60px;
    color: #2F327D;
}

.card-text
{
    color: gray;
    text-align: center;
    
}

#card2_img
{
    border-radius: 100%;
}

.features
{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-self: center;
    margin-bottom: 150px
   

}

.features_text{
    justify-self: center;
    width: 700px;
}

.features_content{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.features_content_text
{
color: gray;
font-size: 18px;
margin: 20px auto;
}

.features_content_part1, .features_content_part2,.features_content_part3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 0 ;
}
@media (max-width:450px) {
  
.features_content_part1, .features_content_part2,.features_content_part3 
{
    justify-content: center;
    flex-direction: column;
    margin-bottom: 200px;

}

}

.p1_left h1 ,.part2_right h1 ,.part3_left h1
{
    font-size: 28px;
    font-weight: bold;
}

.p1_left{
    flex: 1;
    max-width: 450px;
}
.p1_right {
    flex: 2;
    max-width: 450px;
}
 
/* FEATURES SECTION  */
.challenge-section{

    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    left: 40px;
    padding:120px 0;

    overflow:hidden;
    background:white;
}

/* Dotted Background */

.dots{

     position: absolute;

    width: 350px;
    height: 300px;
    /* float: right; */
    background-image: radial-gradient(#cfd8ff 2px, transparent 2px);
    background-size: 25px 25px;

    top: 80px;
    right: 220px;

    z-index: 1;
    transform: translateX(150px) rotate(-190deg);    

}

/* Floating Dots */

.dot{

    position:absolute;
    border-radius:50%;
}

.blue{

    background:#3768FF;
}

.green{

    background:#59B45A;
}

.top{

    width:18px;
    height:18px;

    top:60px;
    left:55%;
}

.bottom{

    width:18px;
    height:18px;

    bottom:60px;
    left:60%;
}

.left{

    width:20px;
    height:20px;

    left:30%;
    bottom:140px;
}

/* Card */

.challenge-card{

    position:relative;

    width:350px;

    background:white;

    border-radius:20px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:35px;

    box-shadow:
    0 20px 45px rgba(0,0,0,.08);

    z-index:5;
}

/* Floating Logo */

.floating-logo{

    position:absolute;

    top:-22px;
    left:-18px;

    width:20px;
    height:20px;

    background:white;

    border-radius:14px;

    display:flex;
    justify-content:center;
    align-items:center;

    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.floating-logo img{

    width:20px;
}

/* Left */

.card-left{

    display:flex;
    flex-direction:column;
    gap:18px;
}

.date{

    color:#666;
    font-size:12px;
}

.card-left h2{

    font-size:22px;
    line-height:1.2;
    color:#222;
}

.card-left button{

    width:120px;

    border:none;

    background:#58B55D;

    color:white;

    padding:10px;

    border-radius:25px;

    cursor:pointer;

    font-size:10px;
}

/* Right */

.progress-ring{

    width:110px;
    height:110px;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
    conic-gradient(

        #58B55D 65%,

        #ECECEC 65%

    );
}

.inner-circle{

    width:100px;
    height:100px;

    background:white;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    box-shadow:
    inset 0 0 10px rgba(0,0,0,.08);
}

.inner-circle span{

    font-size:30px;
    font-weight:600;
}



/* FEATURES PART 2 */



/* PART 2 LEFT AREA */

.therapy-section{

    width:650px;
    height:650px;

    margin:auto;

    position:relative;
}

/* Main Image */

.therapy-image img{

    width:390px;
    height:500px;

    object-fit:cover;

    border-radius:25px;

    position:absolute;

    top:40px;
    left:90px;

    box-shadow:0 20px 40px rgba(0,0,0,.08);
}

/* Floating Card */

.therapy-card{

    position:absolute;

    bottom:25px;
    left:200px;

    width:330px;
    height:110px;

    background:#fff;

    border-radius:22px;

    display:flex;
    align-items:center;
    justify-content:space-around;

    box-shadow:0 15px 40px rgba(0,0,0,.08);
}

@media (max-width:450px) {
    
.therapy-card{
    top: 500px;
    }
}

.card-icon{

    width:55px;
    height:55px;

    border-radius:50%;

    /* background:#DDF8EF; */

    display:flex;
    justify-content:center;
    align-items:center;
}

.card-icon img{

    width:55px;
    align-self: center;
    position: relative;
    left: 12px;
}

.part2-card-text{

    flex:1;

    margin-left:20px;
}

.part2-card-text h3{

    color:#42C08A;

    font-size:18px;

    font-weight:600;

    line-height:1.5;
}

.status-circle{

    width:40px;
    height:40px;

    border-radius:50%;

    background:#DDF8EF;

    margin-right:25px;
}

/* Decorative Circles */

.circle{

    position:absolute;

    border-radius:50%;
}

.blue{

    width:90px;
    height:90px;

    background:#3C63FF;

    left:45px;
    top:70px;

    z-index:-1;
}

.green-top{

    width:24px;
    height:24px;

    background:#56B45C;

    left:155px;
    top:35px;
}

.green-bottom{

    width:20px;
    height:20px;

    background:#56B45C;

    left:75px;
    bottom:20px;
}

.pink{

    width:18px;
    height:18px;

    background:#F04F86;

    right:120px;
    top:370px;
}


.part2_right{
    width: 30%;
    /* border: 2px solid green; */
}


/* Part 3 */

.features_content_part3
{   display: flex;
    margin-top: 100px;
    justify-self: center;
    gap: 50px;
    justify-content: space-evenly;
    height: auto;
    margin: 0 80px;
   
  
}

/* LEFT */
.part3_left
{  
    width: 100%;
    float: left;
   
}

/* RIGHT */

.part3_right
{


    display:flex;
    width: 100%;
    /* height: 400px; */
    justify-content:center;
    float: left;
}



   
    


        

 

.community{

    

    position:relative;

    width:100%;

    height:400px;

    margin: 0;
}
.community-card{


    width: 100%;

    height:320px;

    background:white;

    border-radius:18px;

    box-shadow:0 15px 35px rgba(0,0,0,.08);

    position:absolute;

}

.green-header{
    width: 100%;
    height:50px;

    background:#59B15E;

    border-radius:18px 18px 0 0;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-weight:600;

    font-size:22px;
}

.profile{

    display:flex;

    align-items:center;

    gap:18px;

    margin:18px 40px;
}

.profile img{

    width:55px;

    height:55px;

    border-radius:50%;
    object-fit:cover;
    object-position: top;
     
}

.badge{

    background:#D8F2FA;

    padding:10px 22px;

    border-radius:25px;

    color:#397C9E;

    font-size:18px;
}
.blue-line{

    width:150px;

    height: 25px;
    margin-top: -20px;
    background:#345BFF;


}
.blue-line span{
        position: relative;
    left: 58px;
    top: -10px;
}


.review{

    position:absolute;

    width:250px;

    background:white;

    border:1px solid #ddd;

    border-radius:18px;

    padding:20px;

    box-shadow:0 8px 20px rgba(0,0,0,.06);
}
.review-front{

    left:60px;

    top:160px;
    height: 100px;

    z-index:5;
    overflow: hidden;


}

.review-front_info, .review-back_info
{
    display: flex;
    gap: 2px;
    font-size: 12px;
}

.review-front img ,.review-back img
{
    width: 35px;
    height: 35px;
    border-radius: 100px;
    object-fit: cover;
    object-position: top;

}
.review-front p 
{
    font-size: 12px;
    height: 50px;
    overflow: hidden;
}

.review-back p
{
    font-size: 12px;
    height: 32px;
    overflow: hidden;
}
.read-btn
{
    color: blue;
    background: none;
    border: none;
    float: right;
    margin: 5px 0px;
}
.review-back{

    left:140px;
    width:260px;
    top:185px;
    height: 70px;
    opacity:.9;

    z-index:1;
    overflow:hidden;
}
.star-badge{

    position:absolute;

    width:60px;

    height:60px;

    border-radius:50%;

    background:white;

    left:-20px;

    top:55px;

    box-shadow:0 0 10px 8px rgba(0,0,0,.3);
    z-index: 2;
}
.star-badge img
{
    border-radius: 100px;
    position: absolute;
    left: 5px;
    top: 2px;
    transform: rotate(-20deg);
}



.book-badge{

    position:absolute;

    width:50px;

    height:50px;

    border-radius:50%;

    background:white;

    right:0px;
    opacity: 1;
    top:95px;

    box-shadow:0 0  10px 8px rgba(0,0,0,.3);
    z-index: 2;
}
.book-badge img
{
    width: 35px;
    border-radius: 10px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.blue-box{

    position:absolute;

    width:150px;

    height:120px;

    background:#CFE3FF;

    border-radius:18px;

    bottom:95px;

    left:85px;

    z-index:-1;
}
.circle{

    position:absolute;

    border-radius:50%;
}

.wave{
    position:absolute;
    bottom:-2px;
    left:0;
    width:100%;
    line-height:0;

    z-index:10;
}

.wave svg{
    display:block;
    color: blue;
    width:100%;
    height:120px;
}



.courses
{
    background-color:#c1cdf6;
    

}
.main-heading pre:nth-child(2)
{
    
    color: #315DEC;
    font-size: 33px;
    font-weight: 100px;
   
}
.main-heading
{
    margin-top: 50px;

}


.main-heading  pre
{   
    display: inline;
     font-size: 33px;
    font-weight:bold;
     font-family: "poppins";
}

.courses-content
{
    display: flex;
    flex-direction: column;
    text-align: center; 
}

.courses_text
{   
    display: flex;
    justify-content: space-between;
    margin: 30px 70px;
}
.courses_text >p
{
    font-size: 20px;
    font-weight: bolder;
}
a{
    text-decoration: none;
    color:#315DEC;
}

.course-cards
{
    display: flex;
    margin: 0 10px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom:100px ;
}

.course-card
{    
    padding: 15px 5px 0px;
    width: 250px;
    /* height: 440px; */
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
   
   
}
.course-card p ,.course-card h3, .course-details
{
    color: gray;
    text-align: left;
    margin: 30px  10px;
}
.course-details
{   margin-top: 5px ;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    font-weight: 200;
}
.course-card h3
{
    color: black;
    font-size: 16px;
    font-weight: 600;
}
.course-card p
{
    font-weight: 400;
    font-size: 12px;
}

.course-img img
{
    width: 240px;
    border-radius: 20px;
    
}

.course-btn
{
    padding: 10px 20px;
    background-color: #55A65E;
    color: white;
    border-radius: 30px;
    width: 70%;
    border: none;
    margin-bottom: 10px;
    
}
.course-btn:hover
{
    transform: translateY(2px);
}

.section2-card
{
    display: flex;
    width: 320px;
    gap: 10px;

}

.courses-section-2-content
{
    display: flex;
    flex-direction: column;
    text-align: center; 
    margin-bottom: 70px;
}

.section2-card-left img
{
    width: 120px;
    height: 190px;
}
.price
{
    display: flex;
    justify-content:flex-start;
    gap: 14px;
}

.price span:nth-child(2)
{
    color: gray;
    text-decoration: line-through;
}

.section2-card-left
{
    width: 150px;
    height: 180px;
    padding: 5px;
}
.section2-card-right
{
    width: 170px;
    display: flex;
    flex-direction: column;
    /* padding: 5px; */
    text-align: left;
    gap: 15px;

}
.section2-card-right h3
{
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
}

.section2-card-right p
{
    font-size: 11px;
    font-weight: 400;
    color: gray;
}

.course-section2-btn 
{
    /* padding:  */
    background-color: #42C08A;
    font-size: 14px;
    background-color: green;
    border: none;
    padding: 7px 9px;
    border-radius: 18px;    
    color: white;
    width: 130px;
    margin-top: 27px;

}


.section2-cards
{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
    margin-top: 70px;
}

.see-all-btn
{   
    background: none;
    border: none;
    text-decoration:underline;
    color:#315DEC;
    font-size: 14px;
    margin-top: 50px;
    cursor: pointer;
}

.hidden
{
    display: none;
    padding: 0 -120px ;

}

.hidden2
{
    display: none;
    padding: 0 -120px ;

}
button:hover
{
transform: translateY(2px);
}


.subscription
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    gap: 10px;
    margin-bottom: -240px;
}

.subscription-card
{
        width: 300px;
        /* height: 300px; */
        display: flex;
        flex-direction: column;
        margin: 20px;
        justify-content: space-between;
        gap: 15px;
}

.subscription-card:hover
{
    transform: scaleY(15px) scaleX(3px);
    padding: 10px;
    box-shadow: 0px 0px 10px 1px;
    border-radius: 10px;

    .subscription-btn
{
    background-color: #315DEC;
    color: white;
    font-size: 18px;    
    font-weight: 600;
    border: none;
}
}

.subscript-heading
{
    display: flex;
    justify-content:start;
    position: relative;
    margin:20px  0px;
}
.subscript-heading p
{
    position: absolute;
    top:25px;
    left: 60px;
    font-weight: 500;
    font-size: 9px;
    
    
}

.subscript-heading h2
{
    font-size: 25px;
    font-weight: 800;
}


.subs-benefits-list
{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.sub-list
{    list-style: none;  }

.bi-check
{
background: lightgray;
border-radius: 150px;
padding: 1px 3px;
width: 10px;
height: 10px;
margin-right: 10px;
}
.subscription-card-1-bottom
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.subscription-card-bottom
{
    display: flex;
    flex-direction: column;
    /* gap: 1300px; */
}
.subscription-card-bottom
{
    display: flex;
    flex-direction: column;
    /* gap: 1300px; */
}

.subscription-btn
{
    width: 280px;
    font-weight: 600;
    padding: 15px 15px;
    background: none;
    border: 2px solid lightgray;
    color:#315DEC ;
    /* margin-top: 100px; */
    border-radius: 7px;
}



.bi-person-fill
{
    position: relative;
    top: 7px;
}

.single
{
    background-color: yellow;
}

.group
{
    background-color: lightgreen;
}











.testimonial{
    width:80%;
    margin:0px auto;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:80px;    
    align-items:center;
    /* margin-bottom: 2000px; */
}

.left{
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: -200px;
}

.right{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 400px;
}

.right img
{
    width: 80%;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
}

#testimonial-btn
{   width: 60%;
    /* padding: 12px 10px; */
    background: none;
    border:1px solid lightgray;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;

    
}
#testimonial-btn >span:nth-child(2)
{
    border-radius: 200px;
    border:1px solid lightgray;
    color: lightgray;
    width: 20px;
    padding: 10px;
    line-height:-5px  ;


}

#testimonial-btn >span:nth-child(1)
{
    position: relative;
    line-height: 40px  ;
    left: 20px;
    color: lightgray;
}

.testimonial-review
{  
    padding: 20px 40px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 10px 0.11px;
    border-radius: 10px;
    padding-top: 40px;
    position: relative;
    top: -90px;
    left: 50px;
    z-index: 100;
}
.testimonial-bottom
{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}
.bottom-text
{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.testimonial-upper
{
display: flex;
gap: 10px;

}
.testimonial-upper hr
{
color: lightgray;
height: 70px;
align-self: center;
}

.testimonial-upper p
{
    color: lightgray;   
}

.testimonial-bottom-text h4
{
    font-weight: 500;
    color: gray;   
}

.stars p
{
 font-size: 12px;
    font-weight: 200;
    color: light gray;
}

.next{
    width: 40px;
    height: 40px;
    border: 2px solid lightgray ;
    outline: none;
    color: lightgray;
    border-radius: 20px;
    position: relative;
    top: -540px;
    left: 340px;
    z-index: 10000;
}




/* FOOTER */


footer
{
    width: 100%;
    background-color: #315DEC;
    color: white;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer_section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 16px;
}

.logo
{

    width: 200px;
    object-fit: contain;
    position: relative;
    top: 5px;
}
.top
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin-bottom: 50px;
}
.top pre
{
    font-size: 16px;
}

hr
{
    height: 40px;
    border: 0.1px solid rgb(79, 79, 172);
}

#line_three
{
    text-align: center;
}


#subscription
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 12px;
}

#subscription input
{
    color: white;
    background:none;
    border: 0.01px solid white;
    border-radius: 30px;
    padding: 8px 20px;
    min-width: 260px;

}
#subscription input::placeholder
{
    color: white;
    background:none;
}

#subscription button
{
    color: white;
    background:#55A65E;
    border: none;   
    border-radius: 30px;
    padding: 8px 20px;
    cursor: pointer;

}
.terms_and_policy
{   
    margin-top: 70px ;
    display: flex;
    gap: 10px;
    align-items: center;
}

.terms_and_policy hr
{
    height: 10px;
}

.terms_and_policy a
{
    color: white;
    text-decoration: none;
}


#line_four
{
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}










@media (max-width:1024px){

        .navbar{
        padding:20px 30px;
        gap:20px;
    }

    .nav-links{
        gap:20px;
    }

    .hero{
        padding:60px 40px;
        flex-direction:column;
        text-align:center;
    }

    .hero_content h1,
    .hero_content h3,
    .features_text,
    .second p{
        width:100%;
    }

    #hero-btn{
        justify-content:center;
    }

    #hero_img{
        position:static;
        width:90%;
        max-width:600px;
        margin-top:40px;
    }

    .features_content_part1,
    .features_content_part2,
    .features_content_part3{
        flex-direction:column;
        gap:50px;
        width:90%;
        margin:0 auto;
        text-align:center;
    }

    .p1_left,
    .part2_right,
    .part3_left{
        /* max-width:90%; */
        width:100%;
    }

    .therapy-section,
    .community{
        transform:scale(.9);
    }

    .review-front
    {
        width: 40%;
    }
    .review-back
    {
        width: 70%;
    }
    .cards,
    .course-cards,
    .section2-cards,
    .subscription{
        margin:40px 20px;
        justify-content:center;
    }

    .courses_text{
        margin:20px;
    }

    .testimonial{
        width:90%;
        grid-template-columns:1fr;
        gap:60px;
    }

    .left,
    .right{
        width:100%;
        margin-top:0;
    }

    .right{
        align-items:center;
             margin-top: 300px;
        margin-bottom: 100px;
    }

    .right img{
        width:100%;
        max-width:650px;
        height:auto;
    }

    .testimonial-review{
        position:static;
        width:90%;
        margin:-100px auto 0;
        left:0;
        top:0;
    }

    .next{
        position:relative;
        display:block;
        margin:25px auto;
        top:-400px;
    }

    #testimonial-btn{
        width:100%;
    }

}




@media (max-width:768px){


 body{
        overflow-x:hidden;
    }

    header{
        border-bottom-left-radius:60px;
        border-bottom-right-radius:60px;
    }

    .navbar{
        flex-direction:column;
        gap:20px;
        text-align:center;
    }

    .nav-links{
        flex-direction:column;
        gap:15px;
    }
    .nav-links{
        margin: 0;
        padding: 0;
    }

    .nav-buttons{
        
        gap:10px;
        flex-direction: column;
        width: 100%;
    }

    #login,
    #signup{
        width:100%;
    }

    .hero{
        padding:40px 20px;
    }

    .hero_content{
        gap:25px;
    }

    .hero_content h1{
        font-size:32px;
        width:100%;
    }

    .hero_content h3{
        width:100%;
        font-size:16px;
    }

    #hero-btn{
        flex-wrap:wrap;
        justify-content:center;
        gap:15px;
    }

    #hero_img{
        width:100%;
        max-width:420px;
    }

    .second p,
    .features_text{
        width:90%;
        font-size:16px;
    }

    .challenge-section{
        width: 90%;
        left:0 !important;
        padding:40px 0;
         box-shadow:0 15px 35px rgba(0,0,0,.08);

    }

    .challenge-card{
        width:80%;
        padding:20px;
        
        gap:20px;
    }

    .therapy-section{
        width:100%;
        height:auto;
        transform:scale(.75);
        margin:-70px 0;
    }

    .community{
        width:100%;
        height:500px;
   
    }

    
 .community-card
 {
    height: 100%;
 }


    


 .community-card,
    .review,
    .review-front,
    .review-back{
        position:relative;
        top:10px;
        left:0;
        right:0;
        bottom:0;
    }

    .review-front
    {
        top: 10px;
        width: 80%;
    }
    .review-back
    {
        width: 80%;
    }
    .features
    {
    margin-bottom: 400px;
    }

    .features_content_part2
    {
        flex-wrap: wrap;
    }
    .part2_left
    {
        margin: 0px;
        margin-bottom: 250px;
        margin-top: 150px;
        position: relative;
        left: -150px;
    }
    
    .part2_right
    {
        margin-top: 0;
    }




    .features_content_part3
    {
        flex-wrap: wrap;
        margin: 40px 0px;
    
        display:flex;
        flex-direction:column;

        gap:40px;  
        width: 95%;
   
        margin-bottom:80px;
    }

    h1{
        font-size:28px !important;
    }

    h2{
        font-size:24px !important;
    }

    h3{
        font-size:18px !important;
    }

    p{
        font-size:15px !important;
    }

    .challenge-card,
    .course-card,
    .subscription-card{
        width:100%;
    }

    .therapy-section
    {
        transform:scale(.60);
        margin:-120px 0;
        margin-right: 20px;
    }

    .course-img img{
        width:100%;
    }

    .main-heading pre{
        font-size:24px;
        white-space:normal;
    }

    .course-card{
        width:95%;
    }

    .section2-card{
        width:95%;
        flex-direction:column;
        align-items:center;
        text-align:center;
    }

    .section2-card-left,
    .section2-card-right{
        width:100%;
    }

    .section2-card-right{
        align-items:center;
    }

    .subscription-card{
        width:95%;
    }

    .subscription-btn{
        width:100%;
    }

    .courses_text{
        flex-direction:column;
        gap:15px;
        text-align:center;
    }

 



    /*  */

    .testimonial{
        width:95%;
        grid-template-columns:1fr;
      
    }

    .left,
    .right{
        width:100%;
        margin-top:0;
    }

    .right{
        margin-top: 300px;
        margin-bottom: 100px;
        align-items:center;
    }

    .right img{
        width:100%;
        height:auto;
    }

    .testimonial-review{
        position:static;   /* remove top/left positioning */
        top:auto;
        left:auto;
        width:80%;
        margin-top:20px;
    }

    .next{
        display:none;
    }


    /*  */
 .footer_section {
        padding: 18px 10px;
    }

    .logo {
        width: 160px;
    }

    .top pre {
        font-size: 14px;
    }

    #subscription input {
        min-width: auto;
        padding: 10px 16px;
    }

    #subscription button {
        padding: 10px 16px;
    }

    .terms_and_policy {
        margin-top: 30px;
        gap: 6px;
    }

    #line_four {
        font-size: 14px;
    }


}




@media (max-width:480px){

       .testimonial{
        width:90%;
        gap:30px;
    }

    .testimonial-review{
        padding:15px;
        width: 90%;
    }

    .testimonial-review h2{
        font-size:22px;
    }

    .testimonial-review p{
        font-size:14px;
    }

    #testimonial-btn{
        font-size:14px;
    }

    .logo{
        width:150px;
    }

    .top pre{
        font-size:14px;
        white-space:pre-wrap;
    }

    #line_four{
        font-size:14px;
        line-height:1.6;
    }

     .features_content_part3{
         margin: 0px 10px  !important;
    }

.part3_right
{
width: 100%;

}

    .community
{
    width: 100%  ;

    
}
    .community-card
{
    width: 100%;

}
    


}










