/* HEADER */



body
{
    box-sizing: border-box;
    overflow-x: hidden;
}



/* HEADER */

*{
    margin: 0;
    padding: 0; 
}
body{  font-family: "Poppins", sans-serif; 
box-sizing: border-box;}

#bg_img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0.15;
    z-index: 1000;
}

.main-navbar,
.hero{
    position: relative;
    z-index: 4;
}

.main-navbar
{
    background-color: white;
}
.hero-bg{
    position: absolute;
 
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 40%;
    z-index: 1;
}

.hero-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #797d8c;
    opacity: 0.75;

    z-index: 2;
}


header{
    min-height:550px;
    position:relative;
    overflow:hidden;
}

.hero-bg,
.hero-overlay{
    height:100%;
}

.main-navbar
{
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.nav-links
{
    display: flex;
    gap: 45px;
    flex-wrap:wrap ;
    justify-content: center;
  
    align-items: center;
}
.nav-links li
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    font-size: 18px;
    font-weight: 100;
    color: black;
}
.nav-links li:active
{
    color: #315DEC;
}

.image
{   width: 30px;
    background-color: rgb(85, 141, 85);
    padding: 5px;
    border-radius: 100%;
}

.image img
{
    padding: 5px;
}

#login, #signup
{
    width: 100px;
    padding: 8px;
    border-radius: 20px;
    border: none;
    outline: none;

}

#signup
{
    color: white;
    background-color: #5976d5;
    margin-left: 20px;
}


.hero
{
    justify-content: left ;
}

.hero_content
{
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    gap: 30px;
}
.hero_content h1
{
    font-size: 30px;
    width: 50%;
}
.hero_content p
{
    width: 50%;
    font-style: oblique;
    font-size: 20px;
    border: 0.1px solid #8ca3f1 ;
    padding: 2px;
    font-weight: 1px;
}









/* Small Mobile */
@media (max-width:480px){


 .main-navbar{
        flex-direction:column;
        align-items:center;
        text-align:center;
    }

    .nav-links{
        flex-direction:column;
        gap:15px;
    }

    .nav-profile{
        justify-content:center;
    }


    .main-navbar{
        padding:15px;
    }

    .nav-logo img{
        width:160px;
    }

    .hero_content h3{
        font-size:18px;
    }

    .hero_content h1{
        font-size:26px;
        width: 80%;
    }


}

/*  */








/* Tablets */
@media (max-width:992px){

    .main-navbar{
        flex-wrap:wrap;
        justify-content:center;
        gap:20px;
        padding:20px;
    }

    .nav-logo,
    .nav-profile{
        flex:none;
    }

    .nav-links{
        flex-wrap:wrap;
        justify-content:center;
        gap:20px;
    }

    .hero_content{
        margin-top:50px;
    }

    .hero_content h1{
        width:90%;
        font-size:28px;
    }

    .tip-card{
        width:90%;
        padding:15px;
    }

    .tip-text .heading{
        font-size:15px;
    }

    .tip-text .sub-heading{
        font-size:16px;
    }

    .Expert-courses{
        margin:25px;
    }

    .Expert-courses h3{
        text-align:center;
    }

    .courses-cards{
        justify-content:center;
    }

}


/* Mobile */
@media (max-width:750px){


.main-navbar{
    flex-direction:column;
    align-items:center;
    justify-content: center;
    gap:15px;
}

.nav-links{
    flex-direction:column;
    gap:12px;
}

.avatar-chip{
    margin-top:10px;
}

    .main-navbar > div {
        width:100%;
    }

    .main-navbar .logo {
        margin-bottom: 12px;
        width:100%;
        display:flex;
        justify-content:center;
    }

    .main-navbar .logo img {
        width: 160px;
        max-width: 100%;
    }

    .nav-links{
        flex-direction:column;
        gap:15px;
        width:100%;
        align-items:center;
        padding: 0;
    }

    .nav-links li{
        font-size:16px;
   
        display:block;
    }

    .nav-profile{
        justify-content:center;
        width:100%;
    }

    .hero_content{
        margin-top:30px;
        gap:18px;
        width:100%;
    }

    .hero_content h3{
        font-size:20px;
    }

    .hero_content h1{
        font-size:32px;
        width:90%;
        max-width:560px;
    }

    .hero_content p{
        width:92%;
        font-size:18px;
        padding:0 4px;
    }

    .tip-card{
        width:95%;
        flex-direction:column;
        text-align:center;
        padding:20px;
    }

    

}






.challenge-banner{

    width:90%;
    max-width:1200px;

    margin:-70px auto 40px;

    position:relative;

    background:url("/Challenge/Images/challenge-bg.png");
    background-size:cover;
    background-position:center;

    border:2px solid #35d84f;

    border-radius:28px;

    overflow:hidden;
    z-index: 45;
    min-height:165px;
    top: -100px;
}

.challenge-overlay{

    position:absolute;
    inset:0;
    
    background:rgba(108,196,109,.82);
}

.challenge-content{

    position:relative;

    display:flex;
    justify-content:space-between;
    align-items:flex-start;

    padding:28px 35px;

    z-index:2;
}

.challenge-left{

    width:70%;
}

.challenge-left h2{

    color:white;

    font-size:38px;

    font-weight:700;

    margin-bottom:28px;
}

.progress-container{

    width:100%;
    height:22px;

    background:white;

    border-radius:50px;

    padding:4px;
}

.progress-fill{

    width:0%;

    height:100%;

    background:#3867F4;

    border-radius:50px;

    transition:.5s;
}

.challenge-progress{

    display:flex;
    justify-content:space-between;

    margin-top:18px;

    color:white;

    font-size:24px;

    font-weight:600;
}

.badge{

    background:#3365F4;

    border-radius:40px;

    padding:10px 18px;

    display:flex;
    align-items:center;

    gap:10px;
    object-fit:cover;
    object-position: left;
    color:white;
}

.badge img{

    width:42px;
}

.badge h4{

    margin:0;
    font-size:22px;
}

.badge p{

    margin:0;
    font-size:12px;
}





/* ===========================
   Challenge Calendar Section
=========================== */

.challenge-calender-content{
    width:90%;
    margin:40px auto;
    display:flex;
    gap:25px;
    align-items:flex-start;
}

/* Left Panel */
.challenge-left-panel{
    flex:2;
}

/* Right Panel */
.right-panel{
    flex:1;
}



.calendar-container{
    background:#F5F7FF;
    border-radius:20px;
    padding:20px 25px;
    width:100%;
    box-sizing:border-box;
}

.calendar-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}



.calendar-days{
    display:flex;
    gap:22px;
}

.day{
    text-align:center;
    position:relative;
}

.day p{
    margin:0 0 10px;
    font-size:18px;
    font-weight:500;
}

.date{
    width:46px;
    height:46px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:18px;
    color:#222;
}

/* Completed Days */

.completed{
    background:#5CAF63;
    color:white;
}

/* Selected Day */

.selected{
    border:4px solid #D8D8D8;
    background:white;
    font-weight:600;
    color: #222;
}

/* Future Day */

.future{
    background:#E8E8E8;
    color:#9C9C9C;
}

/* Green Dot */

.dot{
    width:10px;
    height:10px;
    background:#38B24A;
    border-radius:50%;
    display:block;
    margin:8px auto 0;
}

/* Month */

.month{
    display:flex;
    align-items:center;
    gap:12px;
}

.month span{
    color:#3559E0;
    font-size:24px;
    font-weight:500;
}

.month button{
    border:none;
    background:transparent;
    cursor:pointer;
}

.month i{
    font-size:26px;
    color:#3559E0;
}

/* ===========================
      Responsive
=========================== */

@media(max-width:1000px){

    .challenge-calender-content{
        flex-direction:column;
    }

    .right-panel{
        width:100%;
    }

}

@media(max-width:750px){

    .calendar-top{
        flex-direction:column;
        gap:20px;
    }

    .calendar-days{
        width:100%;
        justify-content:space-between;
        gap:8px;
    }

    .day p{
        font-size:14px;
    }

    .date{
        width:38px;
        height:38px;
        font-size:15px;
    }

    .month span{
        font-size:20px;
    }

}









/* ---------- Responsive ---------- */

@media(max-width:900px){

    .challenge-content{

        flex-direction:column;
        gap:20px;
    }

    .challenge-left{

        width:100%;
    }

    .challenge-right{

        align-self:flex-end;
    }

    .challenge-left h2{

        font-size:30px;
    }

    .challenge-progress{

        font-size:18px;
    }

}

@media(max-width:600px){

    .challenge-banner{

        margin:-45px 15px 30px;
        width:auto;
        top: 0px;
    }

    .challenge-content{

        padding:20px;
    }

    .challenge-left h2{

        font-size:24px;
    }

    .challenge-progress{

        flex-direction:column;
        gap:8px;
    }

    .badge{

        transform:scale(.85);
    }

}






/* ==============================
   Daily Challenge Cards
============================== */

.daily-challenge-list{
    margin-top:25px;
    display:flex;
    flex-direction:column;
    gap:18px;
}

.daily-challenge-card{
    background:#fff;
    border-radius:20px;
    padding:18px 22px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    box-shadow:0 4px 15px rgba(0,0,0,.05);
}

.daily-challenge-left{
    display:flex;
    align-items:center;
    gap:16px;
}

.daily-challenge-left img{
    width:72px;
    height:72px;
    border-radius:12px;
    object-fit:cover;
}

.daily-challenge-content h4{
    margin:0;
    color:#57A95A;
    font-size:24px;
    font-weight:700;
}

.daily-challenge-content h3{
    margin:4px 0 10px;
    font-size:30px;
    font-weight:700;
    color:#111;
}

.daily-points-tag{
    display:inline-flex;
    align-items:center;
    gap:6px;

    padding:5px 12px;

    border-radius:30px;
    background:#57A95A;
    color:#fff;

    font-size:13px;
    font-weight:600;
}

.daily-start-btn{
    padding:18px 36px;

    border:none;
    border-radius:40px;

    background:#57A95A;
    color:#fff;

    font-size:18px;
    font-weight:600;

    cursor:pointer;
    transition:.3s;
}

.daily-start-btn:hover{
    background:#438a46;
}





/* ============================
      RIGHT STREAK PANEL
============================ */

.streak-panel{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:28px;
}

/* Top Card */

.streak-summary-card{

    background:#E6EBFF;
    border-radius:28px;
    padding:28px;
}

.streak-summary-top{

    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}

.streak-count h1{

    font-size:92px;
    color:#2F58E8;
    margin:0;
    line-height:1;
}

.streak-count h3{

    margin-top:12px;
    margin-bottom:8px;

    color:#52A654;
    font-size:34px;
}

.streak-count p{

    font-size:22px;
    margin:0;
}

.streak-fire-icon{

    font-size:90px;
}

/* Progress */

.streak-progress-area{

    margin-top:30px;
    position:relative;
}

.streak-progress-bar{

    width:100%;
    height:20px;

    border-radius:20px;
    background:white;
}

.streak-progress-fill{

    width:30%;
    height:100%;

    background:#FFC845;
    border-radius:20px;
}

.streak-start-day,
.streak-end-day{

    position:absolute;

    top:-12px;

    width:45px;
    height:45px;

    border-radius:50%;

    background:#FFC845;

    display:flex;
    justify-content:center;
    align-items:center;

    font-weight:bold;
    font-size:18px;
}

.streak-start-day{

    left:45%;
}

.streak-end-day{

    right:0;
}

/* Calendar */

.streak-calendar-box{

    background:white;
}

.streak-week-header{

    display:flex;
    justify-content:space-between;
    align-items:center;

    font-size:18px;
    font-weight:500;
}

.streak-arrow{

    border:none;
    background:none;

    cursor:pointer;

    font-size:35px;
}

.streak-calendar-box hr{

    margin:15px 0 25px;
    border:1px solid #E5E5E5;
}

/* Grid */

.streak-grid{

    display:grid;

    grid-template-columns:repeat(7,1fr);

    gap:18px;
}

/* Dots */

.streak-dot{

    width:40px;
    height:40px;

    border-radius:50%;

    background:#E7EAEE;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:20px;
}

.streak-dot.active{

    background:#FFF3D0;
}

@media (max-width: 1200px) {
    .challenge-banner {
        width: auto;
        margin: -55px 15px 30px;
        min-height: 180px;
    }

    .challenge-content {
        padding: 24px 18px;
         flex-direction: column;
        align-items: stretch;
      
        gap: 18px;
        
    }

    .challenge-left h2 {
        font-size: 32px;
    }

    .badge {
        padding: 8px 14px;
    }

    .badge h4 {
        font-size: 20px;
    }

    .badge p {
        font-size: 11px;
    }
}

@media (max-width: 750px) {

    
header
{
    width: auto;
    height: auto;
}


    .challenge-banner {
        margin: -35px 12px 25px;
        min-height: auto;
    }

    .challenge-content {
        flex-direction: column;
        align-items: stretch;
        padding: 20px 16px;
        gap: 18px;
    }

    .challenge-left h2 {
        font-size: 28px;
    }

    .challenge-progress {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        font-size: 18px;
    }

    .badge {
        width: 100%;
        justify-content: center;
        padding: 12px 16px;
    }

    .badge h4 {
        font-size: 18px;
    }

    .badge p {
        font-size: 10px;
    }

    .calendar-days {
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .challenge-calender-content {
        gap: 20px;
    }

    .daily-challenge-card {
        flex-direction: column;
        align-items: stretch;
        padding: 16px;
        gap: 16px;
    }

    .daily-challenge-left {
        gap: 12px;
    }

    .daily-challenge-left img {
        width: 60px;
        height: 60px;
    }

    .daily-challenge-content h4 {
        font-size: 18px;
    }

    .daily-challenge-content h3 {
        font-size: 24px;
    }

    .daily-start-btn {
        width: 100%;
        padding: 14px;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .challenge-banner {
        margin: -25px 10px 20px;
    }

    .challenge-content {
        padding: 18px 14px;
    }

    .challenge-left h2 {
        font-size: 24px;
    }

    .challenge-progress {
        font-size: 16px;
    }

    .badge {
        gap: 8px;
    }

    .streak-summary-card {
        padding: 20px;
    }

    .streak-count h1 {
        font-size: 72px;
    }

    .streak-count h3 {
        font-size: 28px;
    }

    .streak-count p {
        font-size: 18px;
    }

    .streak-fire-icon {
        font-size: 70px;
    }

    .streak-week-header {
        font-size: 16px;
    }

    .streak-grid {
        gap: 8px;
    }
    .streak-dot{
        position: relative;
        left: 10px;
    width:25px;
    height:25px;}
}

@media (max-width: 450px) {
    .challenge-banner {
        margin: -18px 8px 18px;
    }

    .challenge-content {
        padding: 16px 12px;
    }

    .challenge-left h2 {
        font-size: 22px;
    }

    .challenge-progress {
        font-size: 15px;
    }

    .badge {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .calendar-top {
        flex-direction: column;
        align-items: stretch;
    }

    .date {
        width: 32px;
        height: 32px;
        font-size: 14px;
    }

    .day p {
        font-size: 12px;
    }

    .streak-count h1 {
        font-size: 60px;
    }

    .streak-fire-icon {
        font-size: 58px;
    }
}

@media (max-width: 350px) {
    .challenge-banner {
        margin: -10px 6px 15px;
        border-radius: 20px;
    }

    .challenge-content {
        padding: 14px 10px;
    }

    .challenge-left h2 {
        font-size: 20px;
    }

    .progress-container {
        height: 18px;
    }

    .challenge-progress {
        font-size: 14px;
    }

    .date {
        width: 28px;
        height: 28px;
        font-size: 13px;
    }

    .streak-count h1 {
        font-size: 52px;
    }

    .streak-count h3 {
        font-size: 24px;
    }

    .daily-challenge-content h3 {
        font-size: 22px;
    }

    .daily-start-btn {
        padding: 12px;
        font-size: 16px;
    }
}