#project-management-container
{
margin:50px;
}
#project-management-container h1
{
width: 70%;
font-weight: 500;
font-style: Medium;
font-size: 43px;
line-height: 142%;
letter-spacing: 0%;
vertical-align: middle;
}


.project-management
{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}



.project-manage-left
{
    flex: 3;
}
.project-manage-right
{
    flex: 1.5;
}
#project-profile 
{
    display: flex;
    gap: 10px;
    margin: 20px 0px;
}
.about-project
{
    padding: 20px;
    background-color: #9DCCFF4D;
    border-radius: 20px;
}
.about-project h3
{
    font-size: 20px;
    font-weight: bold;
}
.about-project p
{
    width: 70%;
}

#project-profile img
{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100px;
}
.project-profile-info h4,#chapters h4
{
    font-size: 16px;
    margin-bottom: 0;
}

.project-profile-info p{ font-size: 13px;}

#chapters h4
{
 margin: 10px 0px;
}

#chapter-cards
{
display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.chapter-card
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px ;
    background-color: #D9D9D921;
    border-radius :20px; ;
    margin: 8px 0px;
    

}
.chapter-card-content
{
    display: flex;
    gap: 20px;
}
.chap-part-1 
{   margin: 0;
    font-size: 40px;
    color:#315DEC ;
}
.chap-part-1 p
{    letter-spacing: 0px;
}

.chap-part-2 
{
    margin: 0;
display: flex;
flex-direction: column;

}
.chap-part-2 p , .chap-part-2 h3
{
    margin-bottom: 0px;
    margin-top: 0px;
    
}
.chap-icon
{   margin: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    border-radius: 100px;
}

#project-right-p1
{
    margin-bottom: 20px;
}

#project-right-p1-top
{
    display: flex;
    color: white;
    background-color: #315DEC;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
}
#project-right-p1-top hr
{
    display: flex;
    
     color: navy;
    width: 1px;
    background-color: white;
}


#project-right-p1-content
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    gap: 18px;
    margin-top: 20px;
}

.right-p1-content-card
{
    background-color: #55A65E26;
    color: #55A65E;
    font-size: 20px;
    width: 47%;
    padding: 8px 12px;
    text-align: center;
    border-radius: 12px;
}
.list{ margin: 0;}
.list li 
{
    list-style: none;
    margin: 0;
}
#project-right-p4
{
margin: 0;
}

.single
{
    background-color: #55A65E;
    color: white;
    /* text-align: center; */
    /* align-items: center; */
    /* padding: px; */
    font-size: 18px;
    width: 35px;
    padding-left: 2px;
    padding-bottom: 1px; ;
    height: 35px;
    border-radius: 100px;
    margin-right: 10px;
}


#project-right-p4 h4, #project-right-p3 h4 ,#project-right-p2 h4
{
    font-weight: bold;
    font-size: 26px;
    margin: 20px 0px;
}


#project-right-p3 p
{
    color: #696984;
    letter-spacing: 2%;
    font-size: 14px;
}

#project-right-p4
{
    max-width: 90%;
}
#link-list
{
    list-style: none;
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: left;
    margin-left: 0;
    padding: 0;

}
#link-list li
{
    justify-content: left;
    margin-left: 0;
}
.link-tags
{
    font-size: 25px;
    margin-left: 0;
}







/* RECOMMENDED COURSES */



.cards-section-recommended
{
    margin: 50px;
margin-top: 40px;
}

.courses-content{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center; 
}

.course-cards
{
    display: flex;
    flex-wrap: wrap;
    justify-content:stretch;

    gap: 20px;
    margin-bottom:10px ;
}

.course-card
{    
    background: #fff;
    border-radius: 18px;

    box-shadow:
        0px 4px 12px rgba(0,0,0,.04),
        0px 12px 40px rgba(0,0,0,.08);
    padding: 15px 5px 0px;
    /* width: 23%; */
    width: clamp(250px, 23%, 100%);
    min-width: 250px;
    display: flex;

}
.course-card p ,.course-card h3, .course-details
{
    color: gray;
    text-align: left;
    margin: 15px  10px;
}
.course-details
{   margin-top: 5px ;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    font-weight: 200;
}
.course-card h3
{
    color: black;
    font-size: 14px;
    font-weight: 600;
}
.course-card p
{
    font-weight: 400;
    font-size: 10px;
}

.course-img img
{
    width: 90%;
    border-radius: 20px;
    object-fit: cover;
    height: 120px;
    
}

.course-btn
{
    padding: 10px 20px;
    background-color: #55A65E;
    color: white;
    border-radius: 30px;
    width: 70%;
    border: none;
    margin-bottom: 10px;
    
}
.course-btn:hover
{
    transform: translateY(2px);
}


#info-sample
{
    display: flex;
    margin: 50px;
}

#info-sample-left
{
flex: 1;
margin: 30px;
display: flex;
flex-direction: column;
gap: 30px;
}
#info-sample-left span
{
    font-size: 28px;
}
#info-sample-left span:nth-child(2)
{
    color: #315DEC;
}

#info-sample-left p ,#info-sample-left ahh
{
    color: #696984;
}
#info-sample-right{
    flex:1;
    position: relative;
     width: 100%;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

/* Video */
#info-sample-right video{
    width: 100%;
    height: 100%;
    max-width: 500px;
    border-radius: 20px;
      object-fit: cover;
    position: relative;
    /* z-index: 1; */
}

/* Blue Glow */
.right-blue{
    position: absolute;
    width: 200px;
    height: 200px;

    background: #315DEC;
    border-radius: 12px;

    bottom: -10px;
    right: 0px;

    z-index: -1;
}

/* Green Glow */
.right-green{
    position: absolute;
    width: 100px;
    height: 100px;

    background: #2ECC71;
    border-radius: 12px;

    top: -10px;
    left: 0px;

    z-index: -1;
}






@media (max-width : 1060px) {
#project-right-p1-content  div
{
    width: 100%;
    /* height: 50px; */

}

}
@media (max-width : 786px) {


header
{
    height:120vh;
}
header > video 
{
    object-position:bottom;
    filter: brightness(50%);
}

.hero-content
{
    position: absolute;
    top: 50%;

}

#link-list
{
    flex-wrap: wrap;
}

#project-management-container
{
margin-top: 100px;
}

.project-management{
    flex-direction: column;
    
}    
#info-sample
{
    gap: 50px;
    flex-direction: column;
}

.right-blue{
   

    bottom: -2%;
    right: -4%;

}

/* Green Glow */
.right-green{
  
    top: -2%;
    left: -4%;


}


.course-card
{    
    background: #fff;
    border-radius: 18px;

    box-shadow:
        0px 4px 12px rgba(0,0,0,.04),
        0px 12px 40px rgba(0,0,0,.08);
    padding: 15px 5px 0px;
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
}
.course-card p ,.course-card h3, .course-details
{
    color: gray;
    text-align: left;
    margin: 15px  10px;
    width: 70%;
}


.course-img img
{
    height: 20vh;
}

.course-btn
{
    padding: 10px 20px;
    background-color: #55A65E;
    color: white;
    border-radius: 30px;
    width: 70%;
    border: none;
    margin-bottom: 10px;
    
}
.course-btn:hover
{
    transform: translateY(2px);
}





}